# API Configuration
# REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_API_URL=http://Vasanta-blog-app-env.eba-7k7aqj3i.ap-south-1.elasticbeanstalk.com

# App Configuration (for metadata)
REACT_APP_NAME=Scribely
REACT_APP_DESCRIPTION=Write. Publish. Inspire.
